html {
    height: 100%;
}

body {
    display: flex;
    flex-flow: column;
    height: 100%;
    margin: 0;
}

#canvas-div {
    flex: 1 1 0;
    position: relative;
}

#canvas {
    position: absolute;
}
