html {
    height: 100%;
}

body {
    display: flex;
    flex-flow: column;
    height: 100%;
    margin: 0;
}

.output-canvas-div {
    flex: 1 1 0;
    position: relative;
}

.output-canvas {
    position: absolute;
    display: flex;
}

.tex-region-div {
    position: absolute;
    display: inline-block;
    margin: 2rem;
    padding: 1rem;
    border: 6px solid;
    border-color: grey;
}
